#root {
  height: 100vh !important;
}

body {
  background-color: #ebe7e7 !important;
  height: auto !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.slot-wrapper {
  background-color: #fff;
  border-radius: 20px;
  width: 40% !important;
  margin: auto;
  padding: 20px;
}

.slot-box {
  width: 100%;
  max-width: 340px;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
}

.slot-detail-wrapper {
  background-color: #fff;
  border-radius: 20px;
  width: 40% !important;
  height: auto !important;
  margin: auto !important;
  padding: 25px !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 920px) {
  .slot-wrapper {
    width: 95% !important;
    max-width: 400px !important;
  }

  .slot-box {
    width: 80% !important;
    max-width: 360px !important;
  }
  .slot-detail-wrapper {
    width: 70% !important;
  }
}

@media (max-width: 480px) {
  .slot-wrapper {
    width: 80% !important;
  }

  .slot-box {
    width: 80% !important;
    max-width: 260px !important;
    font-size: 14px;
  }

  .slot-detail-wrapper {
    width: 90% !important;
  }
}
